@model IEnumerable<TicketTrackingSystem.Models.Ticket>

@{
    ViewBag.Title = "Open Tickets";
}

<p>

    <h4>
        Admin Menu Options
    </h4>
    @Html.ActionLink("Create a New Ticket", "AdminCreate")
    |
    @Html.ActionLink("Update Open Tickets", "AdminOpenTickets")
    |
    @Html.ActionLink("Update Resolved Tickets", "AdminResolvedTickets")

    <br /><br />

</p>

<hr />
@*
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
*@
<h3>Open Tickets</h3>
<table class="table">
    <tr>
        <th>

            @Html.ActionLink("ID", "AdminOpenTickets", new { sortBy = 1 })
        </th>

        <th>
            @Html.ActionLink("Description", "AdminOpenTickets", new { sortBy = 2 })

        </th>
        <th>
            @Html.ActionLink("Comment", "AdminOpenTickets", new { sortBy = 3 })

        </th>
        <th>
            @Html.ActionLink("Severity", "AdminOpenTickets", new { sortBy = 4 })

        </th>
        <th>
            @Html.ActionLink("Date Created", "AdminOpenTickets", new { sortBy = 5 })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.TicketID)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.TicketDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketComment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketSeverity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketDateCreated)
            </td>
            
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.TicketID }) |
                    @Html.ActionLink("Resolve", "ResolveATicket", new { id = item.TicketID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.TicketID })
                </td>
            
        </tr>
    }

</table>
