@model IEnumerable<TicketTrackingSystem.Models.Ticket>

@{
    ViewBag.Title = "Open Tickets";
}

<h2>Open Tickets</h2>

@*
<p>
    @Html.ActionLink("Create New", "Create")
</p>
    *@
<table class="table">
    <tr>
        <th>

            @Html.ActionLink("ID", "OpenTickets", new { sortBy = 1 })
        </th>

        <th>
            @Html.ActionLink("Description", "OpenTickets", new { sortBy = 2 })

        </th>
        <th>
            @Html.ActionLink("Comment", "OpenTickets", new { sortBy = 3 })

        </th>
        <th>
            @Html.ActionLink("Severity", "OpenTickets", new { sortBy = 4 })

        </th>
        <th>
            @Html.ActionLink("Date Created", "OpenTickets", new { sortBy = 5 })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.TicketID)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.TicketDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketComment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketSeverity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketDateCreated)
            </td>
           
           <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.TicketID }) |
                @Html.ActionLink("Resolve", "ResolveATicket", new { id = item.TicketID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.TicketID })
            </td>
               
        </tr>
    }

</table>
